.button {
  display: inline-block;
  border: 3px solid PaleTurquoise     ;
  border-radius: 5px;
  background-color: LightCyan ;
  text-decoration: none;
  padding-right: 10px;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: MediumTurquoise  ;
  margin: 5px;
  font: inherit;
  font-size: 1em;
  text-align: center;
  border-radius: 10px;
}

.button-sm{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1em;
}

.button-md{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.5em;
}

.button-lg{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2em;
}

.button:hover{
  background-color: PaleTurquoise  ;
  color: White;
  order: 3px solid LightCyan;
}

.button:active{
  background-color: DarkTurquoise   ;
  color:LightCyan;
}